input,
select,
button {
  cursor: pointer;
  font-size: 18px;
}

fieldset {
  margin: 12px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body>div,
.App-body>form {
  margin-bottom: 30px;
}

.inline_block {
  display: inline-block;
}

.buttons {
  text-align: center;
}

.buttons>button {
  margin: 15px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
}

.result-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.result-player {
  font-size: 14px;
}